<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="favicon.png">

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap5" />

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="fonts/icomoon/style.css">
  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="css/tiny-slider.css">
  <link rel="stylesheet" href="css/aos.css">
  <link rel="stylesheet" href="css/glightbox.min.css">
  <link rel="stylesheet" href="css/style.css">

  <title>Into-the-vegan</title>
</head>

<body>
<h2 href="/" class="heading">Into the vegan</h2>
<!--<p><a href="/" class="more-2">About<span class="icon-arrow_forward"></span></a></p>-->
<!--<p><a href="/board" class="more-2">Recipe<span class="icon-arrow_forward"></span></a></p>-->
<!--<p><a href="/board" class="more-2">Place<span class="icon-arrow_forward"></span></a></p>-->
<p><a href="/board" class="more-2">Community<span class="icon-arrow_forward"></span></a></p>

</body>
</html>