<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="favicon.png">

  <meta name="description" content=""/>
  <meta name="keywords" content="bootstrap, bootstrap5"/>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap"
        rel="stylesheet">

  <link rel="stylesheet" href="css/tiny-slider.css">
  <link rel="stylesheet" href="css/aos.css">
  <link rel="stylesheet" href="css/glightbox.min.css">
  <link rel="stylesheet" href="css/style.css">

  <title>회원가입</title>
</head>
<div th:replace="fragments/bodyHeader :: bodyHeader" />

<body>
<div class="section sec-5">
  <div class="container">

    <form class="form-signin" th:action="@{/}" method="post" >
      <h2 class="form-signin-heading">회원가입</h2>
      <p>
        <label for="username" class="sr-only">아이디</label>
        <input type="text" id="username" name="username" placeholder="Username" required autofocus>
      </p>
      <p>
        <label for="password" class="sr-only">비밀번호</label>
        <input type="password" id="password" name="password" placeholder="Password" required>
      </p>
      <p>
        <label for="confirmPassword" class="sr-only">비밀번호 재확인</label>
        <input type="confirmPassword" id="confirmPassword" name="confirmPassword" placeholder="ConfirmPassword" required>
      </p>
      <p>
        <label for="name" class="sr-only">이름</label>
        <input type="name" id="name" name="name" placeholder="Name" required>
      </p>
      <p>
        <label for="email" class="sr-only">이메일</label>
        <input type="email" id="email" name="email" placeholder="Email" required>
      </p>
      <button href="/" class="btn btn-lg btn-primary btn-block" type="submit">회원가입</button>
    </form>
  </div>
</div>

<th:block layout:fragment="script">
  <script type="text/javascript">
    $(function () {
      $('.btn btn-lg btn-primary btn-block').click((e) => {
        const id = $('#id').val();
        const password = $('#password').val();
        const confirmPassword = $('#confirmPassword').val()
        const name = $('#name').val();
        const email = $('#email').val();

        if (id == '') {
          alert('아이디를 입력해주세요');
          e.preventDefault();
        }
        if (password == '') {
          alert('패스워드를 입력해주세요');
          e.preventDefault();
        }
        if (name == '') {
          alert('이름을 입력해주세요');
          e.preventDefault();
        }
        if (email == '') {
          alert('이메일을 입력해주세요');
          e.preventDefault();
        }
        if (password != confirmPassword) {
          alert('비밀번호가 일치하지 않습니다.')
          e.preventDefault();
        } else {
          const path = 'http://localhost:8080/api/signup';
          const json = JSON.stringify({
            'id': id,
            'password': password,
            'name': name
          });
          $.ajax({
            url: path,
            type: 'POST',
            contentType: 'application/json',
            data: json,
          }).done((response) => {
            if (response == 'success') {
              alert('회원가입 성공')
              location.href = "http://localhost:8080"
            } else if (response == 'fail') {
              alert('아이디를 변경하세요.');
            } else {
              alert('회원가입 실패');
            }
          });
        }
      });
    });
  </script>
</th:block>

<div th:replace="fragments/footer :: footer2"/>
</body>
</html>